# --- DEPENDENCIAS ---
# Ignorar carpetas de librerías en cualquier subcarpeta (frontend, backend, root)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- VARIABLES DE ENTORNO (SEGURIDAD) ---
# ¡CRÍTICO! Nunca subir claves privadas o contraseñas
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# --- BASE DE DATOS Y DOCKER ---
# Ignoramos los datos binarios de la DB (Postgres y Mongo)
database/volumes/
docker-data/

# Ignorar archivos de dump o backups locales que hagas manualmente
*.sql.gz
*.dump

# --- BUILD Y DISTRIBUCIÓN ---
# Archivos generados por Vite (Frontend) o TypeScript (Backend)
dist/
build/
coverage/
.turbo/

# --- IDEs Y EDITORES ---
# Archivos de configuración de JetBrains (WebStorm, DataGrip, IntelliJ)
.idea/
*.iml

# Archivos de configuración de VS Code (por si acaso)
.vscode/
*.code-workspace

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- LOGS GENERALES ---
logs/
*.log